.wrapper {
  display: flex;
  min-height: 100vh;
  background-size: cover;
  background-position: center left 200px;
  background-image: url("https://www.coindesk.com/resizer/TqA2HqIsnSIWF-zB04xzF1h4LYk=/1056x704/filters:quality(80):format(jpg)/cloudfront-us-east-1.images.arcpublishing.com/coindesk/YUS4V2QJWRCJZJDIPX4Q7BJNDQ.jpg");
}

/* .wrapper {
  min-height: rem(900px);
  background-size: cover;
  background-image: url('https://www.coindesk.com/resizer/TqA2HqIsnSIWF-zB04xzF1h4LYk=/1056x704/filters:quality(80):format(jpg)/cloudfront-us-east-1.images.arcpublishing.com/coindesk/YUS4V2QJWRCJZJDIPX4Q7BJNDQ.jpg');
} */

.form {
  border-right: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-7));
  min-height: rem(900px);
  max-width: rem(450px);
  padding-top: rem(80px);

  @media (max-width: 36em) {
    max-width: 100%;
  }
}


.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
}
